@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@300&family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;

}
.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;

}
#hiscoreBox{
    position: absolute;
    top: 49px;
    right: 138px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;

}

#board{
    background: linear-gradient(rgb(34, 227, 218) ,yellow, green);
    width: 90vmin;
    height: 92vmin;
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);


}
.head{
    background: linear-gradient(rgb(238, 6, 6), rgb(134, 21, 221));
    border: 2px solid purple;
    transform: scale(1.02) ;
    border-radius: 40%;
}

.snake{
    background: linear-gradient(rgb(53, 224, 59), rgb(230, 33, 154));
    border: .25vmin solid white;
    border-radius: 40%;
}
.food{
    background: linear-gradient(rgb(231, 12, 9),rgb(238, 246, 9));
    border: .25vmin solid  black;
    border-radius: 40%;
}
